/*--Forms--*/
/*inputs + text area*/
.me-input-group input, [type=submit], .me-input-group textarea {
    font-family: lato, sans-serif;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
}

.me-input-group input, .me-input-group textarea {
    background: #fff;
    border: 1px solid #bdc3c7;
    margin: 0 0 15px 0;
    display: block;
    width: 100%;
    height: auto;
    transition: all .5s;
    font-size: 18px;
}

.me-input-group textarea {
    max-width: 100%;
    height: 300px;
    max-height: 400px;
}

.me-input-group input:focus, .me-input-group textarea:focus {
    outline: none;
    border: 1px solid rgba(52,152,219,.5);
    box-shadow: 0 0 5px #2980b9;
}
/*-drop downs-*/
.me-dropdown-group {
  position: relative;
  display: inline-block;
}
select.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(80,80,80,.5);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #bdc3c7;
  border-radius: 3px;
  margin: 15px 0px;
  display: block;
  width: 200px;
  height: auto;
  font-family: lato, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
.me-dropdown-group::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 53%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icon-arrow.svg") no-repeat center center;
  pointer-events: none;
  box-sizing: border-box;
}
option .option_note {
  font-size: 50%;
}

/*place holder style*/
.me-input-group input::-webkit-input-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input::-moz-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input:-ms-input-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}
.me-input-group input:-moz-placeholder {
    color: rgba(80,80,80,.5);
    font-size: 18px;
}

/*submit*/
.me-input-group [type=submit] {
    border: 0px;
    border: none;
    color: rgba(80,80,80,1);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s;
    padding: 10px 20px;
}
.me-input-group [type=submit]:hover {
    outline: none;
    box-shadow: 0 0 4px #2980b9;
}
